# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore the MacOS DS_Store file
.DS_Store

#eclipse stuff
.classpath
.project


.settings/

bin/
